<form class="ui large form segment">
  <h3 class="ui header">Lisa link</h3>

  <div class="field">
    <label for="pealkiri">Pealkiri:</label>
    <input name="pealkiri" id="pealkiri" #uusPealkiri>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" id="link" #uusLink>
  </div>
  <div>
    <button
      (click)="lisaArtikkel(uusPealkiri, uusLink)"
      class="ui positive right floated button">
      Lisa Link</button>
  </div>
</form>

<div class="ui grid posts">
  <app-artikkel
    *ngFor="let artikkel of sorteeritudArtiklid()"
    [artikkel]="artikkel">
  </app-artikkel>
</div>
